<header class="header">
  <a href="/" class="header_logo">NodeJs</a>
  <nav class="header_nav">
    <ul>
      <li><a href="/" class="">Home</a></li>
      <li><a href="/about" class="">About</a></li>
      <li><a href="/contact" class="">Contact</a></li>
    </ul>
  </nav>
  <div class="header_button">
    <button class="searchBtn" aria-expanded="false">Search</button>
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="11" cy="11" r="7" stroke="currentColor" stroke-width="2" />
      <line
        x1="16"
        y1="16"
        x2="21"
        y2="21"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </div>
</header>
